---
import Header from "@/components/Header.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import MenuCard from "@/components/MenuCard.astro";
import Layout from "@/layouts/Layout.astro";
import Testimonials from "@/components/Testimonials.astro";
---

<Layout>
  <Header />
  <div class="space-y-20 mt-10 pb-10">
    <SectionContainer>
      <h2 class="text-3xl font-bold text-center mb-8">Nuestro Menu</h2>

      <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
        <MenuCard />
        <MenuCard />
        <MenuCard />
      </div>
    </SectionContainer>

    <div class="bg-gray-50">
      <SectionContainer>
        <Testimonials />
      </SectionContainer>
    </div>
  </div>
</Layout>
