---
import AboutUs from "@/components/AboutUs.astro";
import Footer from "@/components/Footer.astro";
import Gallery from "@/components/Gallery.astro";
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import MenuCard from "@/components/MenuCard.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Testimonials from "@/components/Testimonials.astro";
---

<Layout>
  <section class="section" id="inicio" data-section="inicio">
    <Header />
    <Hero />
  </section>
  <main>
    <div class="space-y-36 mt-10 md:space-y-48">
      <SectionContainer id="menu">
        <h2
          class="text-center text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl mb-10"
        >
          Nuestro Menú
        </h2>

        <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
          <MenuCard />
          <MenuCard />
          <MenuCard />
        </div>
      </SectionContainer>

      <SectionContainer id="eventos">
        <div class="text-center mb-12">
          <h1
            class="text-center text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl mb-4"
          >
            Servicios de Catering
          </h1>
          <p class="text-muted-foreground max-w-2xl mx-auto">
            Ofrecemos servicios de catering profesional para todo tipo de
            eventos, utilizando ingredientes frescos y presentación impecable.
          </p>
        </div>

        <Gallery />
      </SectionContainer>

      <SectionContainer id="sobre-nosotros">
        <AboutUs />
      </SectionContainer>

      <div class="bg-gray-50">
        <SectionContainer class="!pt-0 overflow-hidden w-full" id="testimonios">
          <Testimonials />
        </SectionContainer>
      </div>
    </div>
  </main>
  <Footer />
</Layout>
