---
import AboutUs from "@/components/AboutUs.astro";
import Approach from "@/components/Approach.astro";
import Benefits from "@/components/Benefits.astro";
import Contact from "@/components/Contact.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Services from "@/components/Services.astro";
import Testimonials from "@/components/Testimonials.astro";
---

<Layout>
  <section class="section" id="inicio" data-section="inicio">
    <Header />
    <Hero />
  </section>

  <main class="space-y-24 my-24">
    <!-- servicios -->
    <SectionContainer id="servicios">
      <h2
        class="text-center text-4xl font-extrabold tracking-tight text-primary sm:text-5xl mb-10"
      >
        Nuestros Servicios
      </h2>

      <Services />
    </SectionContainer>

    <!-- Innovación con IAA -->
    <div class="bg-gray-50">
      <SectionContainer class="section" id="iaa" data-section="iaa">
        <div class="space-y-32">
          <div class="w-full max-w-4xl mx-auto mb-20">
            <h2
              class="text-center text-4xl font-extrabold tracking-tight text-primary mb-4 sm:text-5xl"
            >
              Innovación con Intervenciones Asistidas por Animales (IAA)
            </h2>
            <p class="text-center text-lg">
              Las Intervenciones Asistidas con Animales ofrecen una manera
              innovadora y efectiva de fortalecer el bienestar emocional y
              reducir el estrés en equipos de trabajo. A través de programas y
              talleres diseñados especialmente, se promueve la integración del
              vínculo humano-animal para mejorar la salud emocional, la cohesión
              del equipo y el rendimiento en el entorno laboral. Ideal para
              organizaciones que buscan fortalecer el bienestar de sus
              colaboradores mediante experiencias únicas y transformadoras.
            </p>
          </div>
          <Approach />
          <Benefits />
        </div>
      </SectionContainer>
    </div>

    <!-- sobre nosotros -->
    <SectionContainer id="sobre-nosotros">
      <AboutUs />
    </SectionContainer>

    <!-- testimonios -->
    <div class="bg-gray-50">
      <SectionContainer
        class="overflow-hidden w-full"
        id="testimonios"
        data-section="testimonios"
      >
        <Testimonials />
      </SectionContainer>
    </div>

    <!-- contact -->
    <SectionContainer id="contacto" data-section="contacto">
      <Contact />
    </SectionContainer>
  </main>

  <Footer />
</Layout>
