---
import { Image } from "astro:assets";
import Monica from "../assets/monica-2.webp";
---

{/* Header Section */}
<div class="grid gap-8 lg:grid-cols-2 mb-12">
  <div class="space-y-6">
    <h2
      class="text-4xl font-extrabold tracking-tight text-primary text-wrap lg:text-5xl"
    >
      Conoce Nuestro Compromiso con tu Bienestar
    </h2>
    <a
      class="inline-block rounded bg-emerald-600 px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-emerald-500 hidden"
      href="/#menu">Saber más</a
    >
  </div>
  <div class="grid place-content-center">
    <p class="text-muted-foreground text-lg text-justify text-pretty">
      En Mocato, creemos que el bienestar de tus peludos es esencial para tu
      equilibrio emocional y el de tu entorno. A través de intervenciones
      asistidas con animales, servicios personalizados y productos
      especializados, te ayudamos a cuidar mejor de ellos, fortalecer su vínculo
      contigo y crear experiencias significativas que promuevan una vida más
      feliz, armoniosa y conectada.
    </p>
  </div>
</div>

{/* Cards Grid */}
<div class="grid gap-6 lg:grid-cols-2">
  {/* Story Card */}
  <div class="relative overflow-hidden min-h-[400px] text-white rounded-md">
    <Image
      src={Monica}
      alt="Mónica Catocho"
      loading="lazy"
      decoding="async"
      class="absolute inset-0 object-container"
    />

    <div class="absolute inset-0 bg-black/40"></div>
    <div class="relative z-10 h-full flex flex-col justify-end p-6">
      <h2 class="text-2xl font-bold mb-4">Nuestra Historia</h2>
      <p class="text-gray-100 text-pretty text-justify">
        Mocato surge con la intención de compartir amor, conocimiento y pasión
        por los animales. Su objetivo no es solo vender, sino ofrecer
        experiencias, aprendizajes y espacios que fortalezcan el vínculo con sus
        animales de compañía. A través de información, educación, servicios y
        productos de alta calidad, buscan garantizar resultados y contribuir a
        mejorar la calidad de vida de los animales de compañía.
      </p>
    </div>
  </div>

  <div class="flex flex-col h-full space-y-6">
    {/* Mission Card */}
    <div class="bg-secondary/10 flex-1 rounded-md">
      <div class="p-6 h-full flex flex-col justify-center">
        <h2 class="text-2xl font-bold mb-4">Nuestra Misión</h2>
        <p class="text-gray-600 text-pretty text-justify">
          Nos dedicamos a ofrecer productos innovadores y servicios
          especializados que promueven la salud mental, la seguridad y el
          bienestar animal. Atendemos a personas que buscan mejorar el bienestar
          de sus animales mediante entrenamientos especializados, así como a
          aquellas que desean mejorar su propio bienestar mental a través de
          interacciones con animales, mediante intervenciones asistidas con
          animales. Nuestro compromiso es fomentar un desarrollo integral con y
          para los animales, basado en el respeto, la conciencia, el amor, la
          integridad y una atención excepcional al cliente.
        </p>
      </div>
    </div>

    {/* Vision Card */}
    <div class="bg-secondary text-white flex-1 rounded-md">
      <div class="p-6 h-full flex flex-col justify-center">
        <h2 class="text-2xl font-bold mb-4">Nuestra Visión</h2>
        <p class="text-white text-pretty text-justify">
          Para el 2029, aspiramos a ser el centro líder en servicios de
          bienestar mental para animales y personas, ofreciendo la más alta
          calidad de atención al cliente y productos de excelencia. Nos
          comprometemos a mantener un enfoque constante en el respeto, la
          conciencia, el bienestar y la seguridad animal, asegurando siempre la
          mejor experiencia para nuestros clientes y sus animales de compañía.
        </p>
      </div>
    </div>
  </div>
</div>
