---
import IconSparkles from "@/components/icons/Sparkles.astro";
---

<div class="w-full max-w-4xl mx-auto">
  <h3
    class="text-center text-3xl font-bold text-gray-900 flex items-center justify-center mb-4"
  >
    <IconSparkles class="h-8 w-8 text-yellow-500 mr-2" />
    Nuestro Enfoque
  </h3>

  <div class="bg-white p-6 border border-secondaryLight/80 rounded-lg shadow">
    <p class="text-lg text-center text-gray-800 leading-relaxed">
      "Utilizo las IAA para promover el bienestar emocional y fortalecer la
      cohesión de equipos en diversos entornos, brindando una experiencia única
      que potencia la conexión y el crecimiento."
    </p>
  </div>
</div>
