---
import { REDES } from "@/consts";
import Copy from "@/components/Copy.jsx";
---

<div
  class="w-full border border-secondaryLight/80 overflow-hidden rounded-lg shadow-lg"
>
  <div class="grid grid-cols-1 md:grid-cols-2">
    <!-- QR code section -->
    <div
      class="flex flex-col items-center justify-center p-6 lg:p-14 bg-gray-50"
    >
      <h2
        class="text-2xl font-extrabold text-secondary mb-6 text-wrap text-center md:text-left"
      >
        Escanear para chatear en WhatsApp
      </h2>
      <div class="bg-white p-3 size-56 rounded-lg shadow-lg relative">
        <img
          src="./qr.png"
          class="w-full h-full object-cover"
          alt="QR code whatsapp"
        />
      </div>
    </div>

    <!-- Contact info section -->
    <div class="flex flex-col justify-center p-6 lg:p-14 bg-white">
      <h2
        class="text-3xl font-extrabold text-primary mb-6 text-wrap text-center md:text-left"
      >
        ¿Quieres más información?
      </h2>
      <div class="flex items-center mb-6">
        <p class="text-lg mr-4 text-pretty">WhatsApp: +504 8893-4752</p>
        <Copy client:visible />
      </div>
      <div class="flex space-x-4 mb-8">
        <!-- Whatsapp -->

        {
          REDES.map((item) => {
            if (item?.isDisable) return false;
            const Icon = item?.icon;

            return (
              <a
                href={item?.href}
                target="_blank"
                rel="noopener noreferrer"
                class="text-emerald-600 hover:text-emerald-800 transition-colors duration-200"
                title={item?.title}
              >
                <Icon class="text-[#5E376D] transition-colors hover:text-[#5E376D]/90" />
              </a>
            );
          })
        }
      </div>
      <p class="text-gray-900 text-pretty">
        Ponte en contacto con nosotros por WhatsApp o
        mediante nuestras redes sociales.
      </p>
    </div>
  </div>
</div>
