---
import { REDES } from "@/consts";
---

<footer class="bg-gradient-to-r from-[#D3BBDD]/50 to-[#ECE3F0]/50">
  <div
    class="mx-auto max-w-screen-xl space-y-8 px-4 py-16 sm:px-6 lg:space-y-16 lg:px-8"
  >
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="grid place-content-center">
        <h2
          class="font-bold text-gray-900 text-center uppercase text-xl lg:text-2xl"
        >
          <img
            src="./logo.svg"
            alt="mocato"
            class="size-24 object-cover md:size-32"
          />
          <span class="sr-only">Mocato</span>
        </h2>
      </div>

      <ul class="mt-2 flex justify-center gap-6 sm:mt-0 sm:justify-end">
        {
          REDES.map((item) => {
            if (item?.isDisable) return false;
            const Icon = item?.icon;

            return (
              <li>
                <a
                  href={item?.href}
                  rel="noopener noreferrer"
                  target="_blank"
                  class="text-gray-700 transition hover:opacity-75"
                >
                  <span class="sr-only">{item?.name}</span>
                  <Icon class="text-[#5E376D] transition-colors hover:text-[#5E376D]/90 size-7 md:size-6" />
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>

    <p class="text-xs text-gray-500 hidden">
      &copy; 2022. Company Name. All rights reserved.
    </p>
  </div>
</footer>
