<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
  <div class="grid gap-4">
    <div>
      <img
        class="h-full object-cover max-w-full rounded-lg"
        src="./img/10.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-full object-cover max-w-full rounded-lg"
        src="./img/2.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-full object-cover max-w-full rounded-lg"
        src="./img/7.webp"
        alt=""
      />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <img
        class="h-full object-cover max-w-full rounded-lg"
        src="./img/9.webp"
        alt=""
      />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="./img/6.webp" alt="" />
    </div>
    <div>
      <img
        class="h-full object-cover max-w-full rounded-lg"
        src="./img/11.webp"
        alt=""
      />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <img
        class="h-full object-cover max-w-full rounded-lg"
        src="./img/12.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-full object-cover max-w-full rounded-lg"
        src="./img/8.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-full object-cover max-w-full rounded-lg"
        src="./img/3.webp"
        alt=""
      />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <img
        class="h-full object-cover max-w-full rounded-lg"
        src="./img/5.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-full object-cover max-w-full rounded-lg"
        src="./img/4.webp"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-full object-cover max-w-full rounded-lg"
        src="./img/1.webp"
        alt=""
      />
    </div>
  </div>
</div>
