<section
  class="relative w-full h-dvh bg-[url(https://cdn.pixabay.com/photo/2019/01/26/02/09/buffet-3955616_1280.jpg)] bg-cover bg-center bg-no-repeat"
>
  <!-- <div
    class="absolute inset-0 bg-gray-900/75 sm:bg-transparent sm:from-gray-900/95 sm:to-gray-900/25 sm:bg-gradient-to-r"
  >
  </div> -->

  <div
    class="relative mx-auto max-w-screen-xl h-full px-4 py-32 grid place-content-center sm:px-6 lg:h-screen lg:px-8"
  >
    <div class="text-center flex flex-col items-center">
      <div class="bg-emerald-50/80 rounded-md px-4 py-10 max-w-3xl mb-10">
        <h2 class="text-4xl font-bold text-gray-900 mb-6 text-wrap md:text-6xl">
          Sabores Únicos para Ocasiones Inolvidables
        </h2>
        <p class="text-xl md:text-2xl text-gray-900/90 mb-8 max-w-2xl mx-auto">
          Hacemos de cada evento una experiencia gastronómica inolvidable
        </p>
      </div>
      <div class="flex flex-col gap-4 justify-center sm:flex-row">
        <a
          class="inline-block rounded bg-emerald-600 px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-emerald-500"
          href="/#menu">Ver Nuestro Menú</a
        >
        <a
          class="inline-block rounded bg-white/90 border border-current px-8 py-3 text-sm font-medium text-emerald-600 transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-emerald-500"
          href="">Solicitar Presupuesto</a
        >
      </div>
    </div>
  </div>
</section>
