---
import "keen-slider/keen-slider.min.css";
import Icon from "./Icon.astro";

const MESSAGES = [
  {
    client: "MsC. Melany Ordóñez",
    stars: 5,
    message:
      "El equipo de Mocato es un éxito total. Mónica y Mayu hicieron un gran trabajo en la capacitación dirigida a nuestros entrenadores, enfocada en la importancia de la claridad en las instrucciones. Durante el taller, que tuvo lugar en la Casa de la H en Siguatepeque, los entrenadores pudieron experimentar de manera práctica cómo las técnicas de comunicación afectan la comprensión y desempeño de los jugadores. Agradecemos profundamente la dedicación y profesionalismo de Mónica y Mayu, quienes no solo compartieron su conocimiento, sino que también crearon un espacio interactivo que promovió el aprendizaje activo y la reflexión.",
  },
  {
    client: "Lic. Lina Carrasco",
    stars: 5,
    message:
      "Mónica es una profesional altamente capacitada y dedicada en el campo de la psicología y la terapia asistida con animales. Su comprensión de los beneficios terapéuticos de la interacción entre humanos y animales es incomparable y siempre aplica este conocimiento con empatía y cuidado. Su experiencia en la integración de la terapia asistida con animales en su práctica ha tenido un impacto transformador en las personas con las que trabaja. Ya sea que presente en conferencias, talleres o eventos comunitarios, tiene un talento extraordinario para atraer a su audiencia con claridad, pasión y profesionalismo. Su capacidad para comunicar ideas complejas de una manera convincente e identificable la convierte en una educadora eficaz.",
  },
  ,
  {
    client: "IMEB",
    stars: 5,
    message:
      "Hemos tenido el placer de trabajar con Monica Catocho en nuestros procesos de reclutamiento y selección, y la experiencia ha sido excepcional. Su profesionalismo, ética de trabajo y dedicación son evidentes en cada etapa del proceso. Nos hace sentir cómodos y confiados, asegurando siempre los mejores resultados. Rara vez hemos tenido algún inconveniente y, cuando ha sucedido, su capacidad de respuesta y solución ha sido impecable. Gracias a su enfoque detallado y meticuloso, hemos incorporado candidatos altamente calificados que han sido clave para el crecimiento de nuestra empresa. No podríamos estar más satisfechos con las decisiones tomadas bajo su guía y expertise.",
  },
];
---

<div class="py-12 lg:py-16">
  <div class="max-w-7xl items-end justify-between sm:flex sm:pe-6 lg:pe-8">
    <h2
      class="max-w-2xl text-4xl font-extrabold tracking-tight text-primary sm:text-5xl"
    >
      Lo que dicen sobre nosotros
    </h2>

    <div class="mt-8 flex gap-4 lg:mt-0">
      <button
        aria-label="Previous slide"
        id="keen-slider-previous"
        class="rounded-full border border-secondary p-1 text-secondary transition-all hover:bg-secondary hover:text-white hover:scale-110 active:scale-100"
      >
        <Icon name="leftarrow" />
      </button>

      <button
        aria-label="Next slide"
        id="keen-slider-next"
        class="rounded-full border border-secondary p-1 text-secondary transition-all hover:bg-secondary hover:text-white hover:scale-110 active:scale-100"
      >
        <Icon name="rightarrow" />
      </button>
    </div>
  </div>

  <div class="-mx-6 mt-8 lg:col-span-2 lg:mx-0">
    <div id="keen-slider" class="keen-slider">
      {
        MESSAGES.map((item) => {
          let count = item?.stars ?? 0;
          return (
            <div class="keen-slider__slide">
              <blockquote class="flex h-full flex-col justify-between bg-white p-6 shadow rounded-lg border border-secondaryLight/80 sm:p-8 lg:p-12">
                <div>
                  <div class="flex gap-0.5">
                    {[...Array(5)].map((_) => {
                      if (count > 0) {
                        count--;
                        return (
                          <Icon name="star" class="size-5 text-green-500" />
                        );
                      }

                      return <Icon name="star" class="size-5 text-gray-500" />;
                    })}
                  </div>

                  <div class="mt-4">
                    <p class="text-2xl text-secondary font-bold sm:text-3xl">
                      {item?.client}
                    </p>

                    <p class="mt-4 leading-relaxed text-pretty text-justify text-gray-700">
                      {item?.message}
                    </p>
                  </div>
                </div>
              </blockquote>
            </div>
          );
        })
      }
    </div>
  </div>
</div>

<script>
  import KeenSlider from "keen-slider";

  const keenSlider = new KeenSlider(
    "#keen-slider",
    {
      loop: true,
      slides: {
        origin: "center",
        perView: 1.25,
        spacing: 16,
      },
      breakpoints: {
        "(min-width: 1024px)": {
          slides: {
            origin: "auto",
            perView: 2.5,
            spacing: 32,
          },
        },
      },
    },
    []
  );

  const keenSliderPrevious = document.getElementById("keen-slider-previous");
  const keenSliderNext = document.getElementById("keen-slider-next");

  keenSliderPrevious?.addEventListener("click", () => keenSlider.prev());
  keenSliderNext?.addEventListener("click", () => keenSlider.next());
</script>
