---
import Banner from "@/components/Banner.astro";
import "@fontsource-variable/league-spartan";
import { ClientRouter } from "astro:transitions";
---

<html lang="es">
  <head>
    <meta charset=" UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Mocato Consulting</title>
    <ClientRouter />
  </head>
  <body class="relative">
    <slot />

    <Banner />
  </body>
</html>

<style is:global>
  html {
    font-family: "League Spartan Variable", sans-serif;
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
